Class {
	fontName:"Arial";
	fontHeight:14;
	fillColor:#E6E6E6;
	gradient:none;
	lineColor:#000000;
	lineWidth:1;
	shadow:false;
	elementIcon:false;
}

Class * {
	fontName:"Arial";
	fontHeight:14;
	elementIcon:false;
}

Class > Compartment[kind=nestedclassifiers]{
	visible:false;
}

Class Property {
	maskLabel:name type;
}

Class Operation {
	maskLabel:name;
}

Association {
	fontName:"Arial";
	fontHeight:14;
}

Association > Label:sourceRole,
Association > Label:targetRole {
	visible:false;
}

Connector > Label[kind=SourceMultiplicity] {
	visible:false;
}

Association > Label[kind=SourceMultiplicity] {
	visible:false;
}
